@model ASPNET_MVC_Samples.Humidity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Humidity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChamberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChamberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurHumidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurHumidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetHumidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetHumidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
