@model IEnumerable<ASPNET_MVC_Samples.SETDATA>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTempreture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetHumidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Station)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetTempreture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetHumidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
